body {
	margin-bottom: 0;
}

.case {
	background: #000000;
	width: 10%;
	height: 10%;
	display: inline-block;
}

.rien {
	display: inline-block;
	background: #000000;
	color: #FFFFFF;
	width: 10%;
	margin-left : 0px;
	margin-top : 0px;
}

#board {
	background: #000000;
	width: 1%;
	height: 1%;
	display: inline-block;
	vertical-align: top;
}

.coord {
	display: inline-block;
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	width: 10%;
	height: 10%;
	vertical-align: top;
}

.black {
	background: #707070;
}

.white {
	background: #E6E6FA;
}

.pieces {
	width: 100%;
	height: 100%;
	margin-right: auto; 
	margin-left: auto;
}

#gui {
	display: inline-block;
	height : 85%;
	width: 50%;
	text-align: center;
}

.btn_gui {
	display: inline;
	text-align: center;
}

#log {
	height : 100%;
	width: 95%;
	text-align: right;
	margin-top: 1%;
	margin-left: 5%;
	padding-left: 10;
	overflow: auto;
}

.llog {
	direction: rtl;
	margin-right: 5%;
}

.llog * {
	direction: ltr;
}

.num {
	font-style: italic;
	color: #A69B9B;
	display: inline-block;
	margin-right: 30px;
}

.order {
	display:inline-block;
	width: 100px;
}

.btn {
	background: #3C3C3C;
	text-align: center;
	border: 0;
	height: 25px;
	width: 190px;
	border-radius: 5px 5px 5px 5px;
	font-weight: bold;
	color: #FFFFFF;
	cursor: pointer;
	margin-top: 10px;
}

.btn_search {
	border-radius: 50px 50px 50px 50px;
	float: right;
}

.btn_com {
	background: #3C3C3C;
	text-align: center;
	border: 0;
	height: 25px;
	width: 200px;
	border-radius: 5px 5px 5px 5px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 3px;
}

#menu {
	width: 66%;
	margin-left: 33%;
}

/* 
.add {
	width: 16%;
	height: 25%;
}
*/

#about2 {
	text-align: justify;
}

#login {
	text-align: right;
	font-size: small;
}

#game_info {
	text-align: right;
	font-size: small;
}

#game_info:hover {
	text-decoration : underline;
	font-style: italic;
}

.field {
	text-align: center;
}

#send_form{
	text-align: left;
}

.ta_left{
	text-align: left;
}

.ta_right{
	text-align: right;
}

.center{
	text-align: center;
}

#com{
	width: 100%;
}

.com{
	width: 100%;
}


.player:hover {
	background: #828282;
	text-decoration: none;
	text-align:left;
}

.player a:link {
	color: black;
	text-decoration: none;
}

.player a:visited {
	color: black;
	text-decoration: none;
}

.info {
	padding-left : 50%;
	font-size: small;
}

.msg {
	display: block;
	margin-right : 10px;
	text-align: left;
}

.com_auteur {
	font-style: italic;
	text-align: left;
	background : #E5E6E6;
	padding-bottom: 5px;
	border-radius: 50px 50px 50px 50px;
	text-indent: 8px;
}

.com_date {
	display: inline;
	margin-right: 10px;
	float: right;
}

.color_input {
	text-align : right;
	padding-right : 20%;
}

.width_text_input {
	width : 80px;
}

.stats {
	text-align: center;
}

.stats:hover {
	text-decoration : underline;
	font-style: italic;
}

.lst_players {
	display: inline;
	padding-right: 5px;
}

.pgn {
	text-align: left;
}

.hide {
	color: #FFFFFF;
}

.plate {
	height: 1px;
}

.inline {
	display: inline;
}
.ml50 {
	margin-left: 50px;
}
